<div class= "mx-auto text-center">
  <%= render 'location' %>
  <a href="#" class="text-white font-bold text-base">
    <button type= button class="inline-block border-solid border-red-800 bg-red-800 rounded p-[15px] w-fit mx-auto">Take me there!</button>
  </a>
  <br>
  <div class = "underline text-red-800">
    <%= link_to 'Location Index', locations_path %>
  </div>
  <div class = "underline text-red-800">
    <%= link_to 'Edit location', edit_location_path %>
  </div>
  <div class = "underline text-red-800">
    <%= link_to 'Edit Activites', activities_path%>
  </div>
  <br>
  <div class = "underline text-red-800">
    <%= link_to 'Delete this Location', location_path(@location), data: { turbo_method: :delete }%>
  </div>
</div>
